{% extends "index.html" %}

{% block content %}

<div class="row">
   <div class="col-lg-12 text-center">
       <h1 class="mt-5">Witaj w mojej bibliotece filmów</h1>
       <p class="lead"><strong>Znajdziesz tutaj tylko najlepsze tytuły!</strong></p></br>
</div>
   
    <div class="row">
        <div class="col-lg-12 mb-4">
    {% for list_type in current_list%}
        {% if list_type in selected_list%}
            <a href="{{ url_for('homepage', list_type=list_type) }}") type="button" style="text-transform:capitalize;" class="btn btn-outline-info active" aria-pressed="true">{{list_type|replace("_"," ")}}</a>
        {%else%}
            <a href="{{ url_for('homepage', list_type=list_type) }}") type="button" style="text-transform:capitalize;" class="btn btn-outline-info">{{list_type|replace("_"," ")}}</a>
        {%endif%}
    {%endfor%}
</div>

    {%for movie in movies%}
    <div class="col-lg-3 col-md-4 mb-4"></br>
       <div class="card h-100">
        <img src="{{tmdb_image_url(movie.poster_path, "w780") }}">
           <div class="card-body">
               <h4 class="card-title">{{movie.title}}</h4>
           </div>
           <div class="card-footer text-center">
            <a href="{{ url_for('movie_details', movie_id=movie.id) }}" class="btn btn-primary" type="button" >Pokaż więcej</a>
           </div>
        </div>
    </div>
   {%endfor%}
</div>

{% endblock %}